{%extends "bootstrap/base.html" %}

{% block content %}
<!-- Main Content Is Here -->
<style type="text/css">
  background-image: url("background.png");
</style>
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='css/styles.css')}}">

{% endblock %}


<!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h3 class="display-3">Badary and Epe Alerts</h3>
          <!--p>Time Series Prective Analytics using Machine Learning</p>-->
          <p><a href="{{ url_for('index')}}" type="button" class="btn btn-danger" > Submit another dataset</a></p>
        </div>
      </div>

  <div class="container">
        <!-- Details Page  -->
        <div class="row">
          <div class="col-md-15" style="background-color:#3f76ef">
            <!--h2>Details of Dataset</h2>-->
            
            <!--div class="alert alert-info" role="alert">
              <p><span style="color:red">Dataset location </span>:<br> {{ fullfile }}</p>
            </div>-->
            
            <!--div class="alert alert-danger" role="alert">
              <p><span style="color:red">Time uploaded</span>: {{ date }} </p>
            </div>-->

            
            <!--h2>Exploratory Data Analysis</h2>-->
            
            <!--div class="alert alert-info" role="alert"><p><span style="color:red">Size</span>: {{ df_size }}</p></div>-->
            <!--div class="alert alert-danger" role="alert"><p><span style="color:red">Shape</span>: <br/>
            (Row,Columns)<br/>
            {{ df_shape }}</p></div>-->
            

                <h4>Monthly Alerts</h4>

            <div class="alert alert-info" role="alert">
              <p><span style="color:red">Results for red month</span>: 
                  {% for i in red_month %}
                  
                  <li>{{ i}}</li> 
                  
                  {% endfor %}
              </p>
            </div>

            <div class="alert alert-info" role="alert">
              <p><span style="color:red">Results for yellow month</span>: 
                  {% for i in yellow_month %}
                  
                  <li>{{ i}}</li> 
                  
                  {% endfor %}
              </p>
            </div>



            <!--div class="alert alert-info" role="alert">
                <p><span style="color:red">Chart data</span>: 
                    {% for i in epe_chart %}
                    
                    <li>{{ i}}</li> 
                    
                    {% endfor %}
                </p>
              </div>-->
              <!-- <div class="alert alert-danger" role="alert">
                  <p><span style="color:red">Target</span>: {{ df_targetname }}</p>
                </div> -->
    
          </div>
          
           <!-- Viewing Dataset As a Table-->
          <!--<div class="col-md-6" style="background-color:white">
            <!--h5>Epe Chart</h5>-->
            <!---p>file location in flask database:<br> <i>{{ fullfile }}</i> </p>-->
        
            <!--button onclick="displayDataset()" class="btn btn-primary">Choose Total</button-->
            <!--br/>
            <br/>-->
           <!-- <select name="disease" method="GET" action="/drop_d">
                <option value="{{diseases[0]}}" selected>{{diseases[0]}}</option>
                    {% for disease in diseases[1:] %}
                        <option value="{{disease}}">{{disease}}</option>
                    {% endfor %}
            </select>
              
             <div class="alert alert-info" role="alert">
                 <img src="/plot.epe" alt="my plot" style="width: 100%; height: 100%">
                <!--<p><span style="color:red">Chart data</span>: 
                    {% for i in epe_chart %}
                    
                    <li>{{ i}}</li> 
                    
                    {% endfor %}
                </p>
              </div>---->


 
        <!--/div>--->
        
         <!---<div class="col-md-6" style="background-color:white">
            <!--h5>Badagry Chart</h5>-->
            <!--p>file location in flask database:<br> <i>{{ fullfile }}</i> </p>-->
        
            <!--button onclick="displayDataset()" class="btn btn-primary">show/hide Plot</button-->
            <!--br/>
            <br/>-->
             <!--div class="alert alert-info" role="alert">
                 <img src="/plot.bad" alt="my plot" style="width: 100%; height: 100%">
              
              </div>-->

                
                
           <!-- </div>-->
            
            <!--div class="alert alert-info" role="alert">
                <p><span style="color:red">Chart data</span>: 
                    {% for i in epe_chart %}
                    
                    <li>{{ i}}</li> 
                    
                    {% endfor %}
                </p>
              </div>-->


 
        </div>
        

      </div>


{% endblock %}

<!-- Main External 3-Party JS Is Here -->

{% block scripts %}

{{ super() }} 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<!-- Function for Displaying Table -->
<script>
function displayDataset() {
    var x = document.getElementById("myDIV");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
</script>



{% endblock%}



